

.postagens-container{
    display: flex
    ;
        flex-direction: column;
        gap: 6px;
        align-items: center;
        margin-bottom: 40px;
}

.postagem-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    gap: 15px;
}

.postagem-card>p{
    margin-bottom: 0px;
}
.postagem-card>h3{
    margin-bottom: 0px;
}
.user-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}



#profile-container{
    display: flex
    ;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 2px 1px rgb(71 71 71 / 6%);
        width: 30px;
        height: 30px;
        border-radius: 100px;
       
}

.profile-icon{
    font-size: 30px;
    color: #123A54;
}

.box-infos{
    display: flex;
    align-items: center;
    gap: 6px;
}
.box-infos>p{
    margin-bottom: 0;
    font-size: 14px;
}

#data-post{
    margin-bottom: 0;
    font-size: 10px;
    color: rgb(105, 105, 105);
}

#email-user{
    font-size: 11px;
    color: rgb(199, 199, 199);
}

.titulo-evento{
    font-size: 20px
}

.conteudo-evento{
    font-size: 17px;
}


.imagens-post{
    max-width: 100%;
    height: auto;
    width: 100%;
}
.imagem-container{
    width: 100%;
}

.box-data{
    display: flex;
    gap: 10px;
    align-items: center;
}

#botao-opcoes-eventos{
   background-color: white;
   border: none;
   padding: 0;
}

.icone-tres-pontos-eventos{
    color: #123A54;
}

#box-botao-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu-postagem{
    padding: 12px;
}

#menu-postagem>li{
    margin-bottom: 10px;
}

#menu-postagem>li>a{
    display: flex;
    align-items: center;
    gap: 12px;
}

.icones-ruins-menu{
    color: rgb(250, 82, 82);
}

#link-ruim{
    color: rgb(250, 82, 82);
}

#trash-menu-ev{
    font-size: 20px;
}

#link-ruim-button{
    color: rgb(250, 82, 82);
    display: flex
;
    align-items: center;
    gap: 13px;
    padding-left: 14px;
}

.container-eventos{
    margin-bottom: 40px;
}



.adicionar-evento-container{
    padding: 20px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-criar-evento{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagem-titulo{
    display: flex;
    gap: 10px;
}

.imagem-enviar{
    display: flex;
    gap: 10px;
}

#descricao-form{
    width: 100%;
}

#botao-env-evento{
    width: 30%;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: white;
    background-color: #fdbc58;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    width: 100%;
}

.botao-escolher-arquivo {
    background-color: #123A54; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.botao-escolher-arquivo:hover {
    background-color: #e0952d;
}

#icone-img{
    color: white;
    font-size: 20px;
}

.container-botao{
    display: flex;
    justify-content: center;
}

#titulo-form{
    width: 50%;
}

#textinho-cima-form{
    margin: 20px 0px;
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.inputs-form-event{
    color: rgb(81, 81, 81);
    border-radius: 8px;
    border: thin solid rgb(134, 134, 134);
    padding-left: 10px;
    height: 45px;
    padding: 12px;
}