

.header {
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 4rem;
    background-color: #123A54;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
    z-index: 1;
    box-shadow: 0px 0px 1px 4px #57575726;
}

.left-header-cont{
  display: flex;
  gap: 80px;
}
  
.logo {
  display: flex
;
    align-items: center;
    gap: 14px;
    color: #fdbc58;
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: black;
    font-size: 40px;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .nav a {
    text-decoration: none;
    color: #123A54;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #7f8c8d;
  }

.items{
  display: flex;
  align-items: center;
  gap: 80px;
}

.items>a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

#bot-sair-log{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 2.4px solid #ffffff;
}