
.left-header-cont{
  display: flex;
  gap: 80px;
}
  
.logo {
  display: flex
  ;
      align-items: center;
      gap: 14px;
      color: #fdbc58;
      font-family: "Titillium Web", sans-serif;
      font-weight: 900;
      font-style: black;
      font-size: 33px;
      text-decoration: none;
      transition: 0.2s ease-in-out;
  }

.logo:hover{
  color: #bd7a17;
}
  
  .nav {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .nav a {
    text-decoration: none;
    color: #123A54;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #7f8c8d;
  }

.items{
  display: flex;
  align-items: center;
  gap: 80px;
}

.items>a{
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
}

#bot-sair{
  text-decoration: none;
  color: #123A54;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 28px;
  border-radius: 21px;
  background-color: white;
  font-family: "Titillium Web", sans-serif;
}

#bot-login{
  text-decoration: none;
  color: #123A54;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 28px;
  border-radius: 21px;
  background-color: white;
  font-family: "Titillium Web", sans-serif;
  transition: 0.4s ease-in-out;
}
#bot-sair:hover{
  background-color: #123A54;
  border: thin solid white;
  color: white;
}
#bot-login:hover{
  background-color: #123A54;
  background-color: #123A54;
  border: thin solid white;
  color: white;
}

.header {
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.2rem 4rem;
    background-color: #123A54;
    justify-content: space-between;
    position: fixed; 
    width: 100%;
    z-index: 1;
    box-shadow: 0px 0px 1px 4px #57575726;
    background-size: cover;
}
.links-nav{
  transition: 0.2s ease-in-out;
}

.links-nav:hover{
  font-size: 17px;
  color: #fdbc58;
}

#button-prof{
 background-color: white;
 border: none;
 border-radius: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
  width: 40px;
  height: 40px;
  transition: 0.3s ease-in-out;
  transform: scale();
}
#button-prof:hover{
  background-color: #123A54;
  border: thin solid white;
}

#button-prof:hover>.profile{
  color: white;
}

#button-prof:hover>.dropdown-toggle::after{
  color: #123A54;
}
.dropdown-toggle::after{
  display: none;
}

.profile{
  font-size: 16px;
  color: #123A54; 
  position: absolute;
}

#menu-dropdown{
  width: 243px;
  padding: 10px 0px;
}

.itens-dropdown-menu{
  display: flex;
  gap: 10px;
}

#ext-links-drop{
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8.5px;
}

.icones-drop{
  font-size: 15px;
}

#sair{
  color: rgb(250, 82, 82);
}

#botao-sair{
  display: flex;
  align-items: center;
  gap: 8.5px;
  font-size: 14px;
  color: rgb(250, 82, 82);
}