.processo-cont{
    width: 85%;
}

#icone-reticencia{
    color: black;
}

.options-container{
    width: 100%;
}

.botoes-inside-mod{
        display: flex
;
    align-items: center;
    gap: 7px;
    border-radius: 8px;
    padding: 20px;
    /* width: 65%; */
    justify-content: center;
    border: none;
    max-height: 60px;
}
#botao-deletar{
    background-color: rgb(250, 104, 104);
}
#botao-deletar>p{
    color: white;
}
#trash{
    color: white;
}
#botao-esconder{
    border: thin solid #fdbc58;
    background-color: white;
    color: #fdbc58;
    transition: 0.3s ease-in-out;
}


#botao-esconder>p{
    color: #fdbc58;
}

#closed-eye{
    color: #fdbc58;
}

.botoes-inside-mod>p{
    margin-bottom: 0;
}

.modal-body{
   display: flex
;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
#button-modal{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
#three-dots{
    font-size: 46px;
    color: #fdbc58;
    letter-spacing: 2px;
}
    
.baixo-processo{
    width: 100%;
    display: flex;
    gap: 22px;
    min-height: 170px;
}

.icone-padrao-modal{
    font-size: 60px;
    color: #123a54;
}