.componente-nav{
    gap: 5px;
}

@media (max-width: 500px) {
    #data-post {
        margin-bottom: 0;
        font-size: 8px;
        color: rgb(105, 105, 105);
        word-break: break-word;
        text-align: end;
    }
}