main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.bg-style{
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.content-section{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}
p{
    font-size: 20px;
}

#icone-pj{
    font-size: 32px;
}

#title-page{
    display: flex;
    align-items: center;
    gap: 14px;
}