.painel-admin {
    width: 100%;
    min-height: 100vh;
    background-color: #123A54;
    padding: 5rem 2rem;
    position: relative;
    color: #ffffff;
}
  
.painel-admin::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
}

.painel-admin.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    background-color: #123A54;
    color: #ffffff;
}
  
.painel-admin__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 4rem;
    position: relative;
    color: #FDBC58;
}
  

  